.game-container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 40px;
  background-color: #59bfef;
  background-image: url('./img/bg.jpg');
  background-size: cover;
}

.game-area {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 10px solid rgb(32, 178, 170);
  background-color: rgb(47, 79, 79);
  border-radius: 10px;
}
