.Button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  margin-top: 20px;
  color: rgba(47, 79, 79, .7);
  font-family: 'Lobster', cursive, 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0 solid transparent;
  border-radius: 20px;
  background-color: rgba(47, 79, 79, .8);
  background: linear-gradient(to top, rgba(173, 230, 216, .7), rgba(254, 252, 234, .7));
  cursor: pointer;
}

.Button:hover {
  color: rgba(47, 79, 79, .9);
  background: linear-gradient(to top, rgba(173, 230, 216, .9), rgba(254, 252, 234, .9));
}


.Button:focus {
  outline: none;
  color: rgba(47, 79, 79, .9);
  background: linear-gradient(to top, rgba(173, 230, 216, .8), rgba(254, 252, 234, .8));
}

.Button:active {
  color: rgba(47, 79, 79, 1);
  background: linear-gradient(to top, rgba(173, 230, 216, 1), rgba(254, 252, 234, 1));
}

